@model OSSP.Models.users
<title>Indigency Application</title>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="container" style="background-color: #f7efe2; margin-top:8px;">
    <div>
        <a href="~/Resident/" class="fa fa-arrow-left" style="font-size:24px; margin-top:24px; text-decoration:none; color:black;"> Back</a>
    </div>

    <center>
        <img src="~/images/sb-logos.png" alt="Alternate Text" width="250px" height="180px">
        <h4 style="padding-bottom:12px;">BARANGAY ID APPLICATION</h4>
    </center>
</div>


<form action="" method="post" id="formSubmit" enctype="multipart/form-data">

    <div class="container">
        <h3>Personal Information</h3>
    </div>

    <div class="border container">


        <div class="row" style="margin-top:6px;">

            <div class="col-md-3 ">
                First Name:
                <input type="text" name="first_name" class="form-control form-control-sm" value="@Model.first_name" readonly="readonly">
            </div>

            <div class="col-md-3">
                Last Name:
                <input type="text" name="last_name" class="form-control form-control-sm" value="@Model.last_name" readonly="readonly">
            </div>

            <div class="col-md-3">
                Middle Name:
                <input type="text" name="name" class="form-control form-control-sm" value="@Model.middle_name" disabled>
            </div>

            <div class="col-md-3">
                Suffix:
                <input type="text" name="name" class="form-control form-control-sm" value="@Model.suffix" disabled>
            </div>

        </div>
        <br />
    </div>

    <div class="border container">
        <div class="row" style="margin-top:6px; margin-bottom:6px;">
            <div class="col-md-3">
                Birthdate:
                <input type="text" name="name" class="form-control form-control-sm" value="@Model.birthdayDesc" disabled>
            </div>

            <div class="col-md-3" style="">
                Sex:
                <input type="text" class="form-control form-control-sm" value="@Model.gender" disabled>

            </div>
            <div class="col-md-3" style="">
                Civil Status:
                <input type="text" class="form-control form-control-sm" value="@Model.civil_status" disabled>

            </div>
            <div class="col-md-3">
                Nationality:
                <input type="text" name="name" class="form-control form-control-sm" value="@Model.nationality" disabled>
            </div>
        </div>
        <br />
    </div>

    <div class="border container">
        <div class="row" style="margin-top:6px; margin-bottom:6px;">

            <div class="col-md-4">
                Email Address:
                <input type="email" name="name" class="form-control form-control-sm" value="@Model.email_address" disabled>
            </div>

            <div class="col-md-4" style="">
                Phone Number:
                <input type="text" name="name" class="form-control form-control-sm" value="@Model.phone_number" disabled>
            </div>

        </div>
        <br />
    </div>
    <div class="container">
        <br />
        <h3>Present Address</h3>
    </div>
    <div class="border container">
        <div class="row" style="margin-top:6px; margin-bottom:6px;">
            <div class="col-md-4">
                House No.:
                <input type="text" name="name" class="form-control form-control-sm" value="@Model.house_number" disabled>
            </div>
            <div class="col-md-4">
                Street:
                <input type="text" name="name" class="form-control form-control-sm" value="@Model.street" disabled>
            </div>

        </div>
        <br />
    </div>

    <div class="container">
        <br />
        <h3>Notify in case of Emergency:</h3>
    </div>
    <div class="border container">
        <div class="row" style="margin-top:6px; margin-bottom:6px;">

            <div class="col-md-3">
                Name:
                <input type="text" id="emername" name="emername" value="" class="form-control form-control-sm">
                <p id="emernameV" class="text-danger"> </p>
            </div>
            <div class="col-md-3">
                House No:
                <input type="text" id="emerhn" name="emerhn" value="" class="form-control form-control-sm">
                <p id="emerhnV" class="text-danger"> </p>
            </div>
            <div class="col-md-3">
                Street:
                <input type="text" id="emerst" name="emerst" value="" class="form-control form-control-sm">
                <p id="emerstV" class="text-danger"> </p>
            </div>
            <div class="col-md-3">
                Phone Number:
                <input type="text" id="emerpn" name="emerpn" value="" class="form-control form-control-sm">
                <p id="emerpnV" class="text-danger"> </p>
            </div>
        </div>
        <br />
    </div>
    <div class="border container">
        <div class="row" style="margin-top:6px; margin-bottom:6px;">
            <div class="col-md-4">
                2x2 Picture:
                <input type="file" name="picture" id="picture" value="" class="form-control form-control-sm">
                <p id="pictureV" class="text-danger"> </p>
            </div>
            <div class="col-md-8">
                <br />
                <p class="text-danger">*Attach Your 2x2 Picture here</p>
            </div>

        </div>
        <br />
    </div>

    <div class="border container">
        <div class="row" style="margin-top:6px; margin-bottom:6px;">
            <div class="col-md-4">
                ID:
                <input type="file" name="id_card" id="id_card" value="" class="form-control form-control-sm" required>
                <p id="idV" class="text-danger"> </p>
            </div>
            <div class="col-md-8">
                <br />
                <p class="text-danger">*Upload your Merged Front and Back ID clear and visible address for proof that you are a resident</p>
            </div>

        </div>
        <br />
    </div>


    <div class="border container">
        <div class="row" style="margin-top:6px; margin-bottom:6px;">
            <div class="col-md-2">
                <button type="button" id="verifyBtn" name="name" class="form-control form-control-sm bg-success text-white"><span class="bi bi-check-lg"> </span> Submit</button>
            </div>


        </div>

    </div>

</form>
<script>

    $(function () {
        $("#emername").keypress(function (e) {
            var keyCode = e.keyCode || e.which;

            $("#ation").html("");

            //Regex for Valid Characters i.e. Alphabets.
            var regex = /^[A-Za-z]+$/;

            //Validate TextBox value against the Regex.
            var isValid = regex.test(String.fromCharCode(keyCode));
           
            return isValid;
        });
        $("#emerpn").keypress(function (e) {
            var keyCode = e.keyCode || e.which;

            $("#pation").html("");

            //Regex for Valid Characters i.e. Alphabets.
            var regex = /^[0-9-+]+$/;

            //Validate TextBox value against the Regex.
            var isValid = regex.test(String.fromCharCode(keyCode));

            return isValid;
        });
    });
    $("#purpose").change(function () {
        if ($(this).val() == "OTHERS") {
            $("#others").removeAttr("disabled");
            $("#others").focus();
        } else {
            $("#others").attr("disabled", "disabled");
            $("#others").vals("");
        }
    });

    $("#verifyBtn").click(function () {
        var me = true;
        var ext = $('#id_card').val().split('.').pop().toLowerCase();
        var ext2 = $('#picture').val().split('.').pop().toLowerCase();
        if (!$("#emername").val()) {
            me = false;
            $("#emernameV").html(" Name is required");
            $("#emername").addClass("is-invalid");
        }
        else {

            $("#emernameV").html("");
            $("#emername").removeClass("is-invalid");
        }
        if (!$("#emerhn").val()) {
            me = false;
            $("#emerhnV").html(" House No. is required");
            $("#emerhn").addClass("is-invalid");
        }
        else {

            $("#emerhnV").html("");
            $("#emerhn").removeClass("is-invalid");
        }
        if (!$("#emerst").val()) {
            me = false;
            $("#emerstV").html(" Street is required");
            $("#emerst").addClass("is-invalid");
        }
        else {

            $("#emerstV").html("");
            $("#emerst").removeClass("is-invalid");
        }
        if (!$("#emerpn").val()) {
            me = false;
            $("#emerpnV").html(" Phone No. is required");
            $("#emerpn").addClass("is-invalid");
        }
        else {

            $("#emerpnV").html("");
            $("#emerpn").removeClass("is-invalid");
        }
        if (!$("#picture").val()) {
            me = false;
            $("#pictureV").html(" 2x2 Picture is required");
            $("#picture").addClass("is-invalid");
        }
        else if ($.inArray(ext2, ['png', 'jpg', 'jpeg']) == -1) {
            me = false;
            $("#pictureV").html(" Only png, jpg and jpeg must be accepted");
            $("#picture").addClass("is-invalid");
        }
        else {

            $("#pictureV").html("");
            $("#picture").removeClass("is-invalid");
        }
        if (!$("#id_card").val()) {
            me = false;
            $("#idV").html(" ID is required");
            $("#id_card").addClass("is-invalid");
        }
        else if ($.inArray(ext, ['png', 'jpg', 'jpeg']) == -1) {
            me = false;
            $("#idV").html(" Only png, jpg and jpeg must be accepted");
            $("#id_card").addClass("is-invalid");
        }
        else {

            $("#idV").html("");
            $("#id_card").removeClass("is-invalid");
        }
        if ($("#others").val() == "" && $("#purpose").val() =="OTHERS") {
            me = false;
            $("#othersV").html(" Pls specify the purpose");
            $("#others").addClass("is-invalid");
        }
        else {
            $("#othersV").html("");
            $("#others").removeClass("is-invalid");
        }

        if (me) {
            var fdata = new FormData();
            var fileInput = $('#id_card')[0];
            var file = fileInput.files[0];
            var fileInput2 = $('#picture')[0];
            var file2 = fileInput2.files[0];
            fdata.append("id_card", file);
            fdata.append("picture", file2);
            $("input").each(function (x, y) {
                fdata.append($(y).attr("name"), $(y).val());
            });

            $("select").each(function (x, y) {
                fdata.append($(y).attr("name"), $(y).val());
            });
            Swal.fire({
                title: 'Are you sure to submit the form?',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: 'Submit',
                confirmButtonColor: '#22bb33',
                denyButtonText: `Cancel`,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Resident/upload2',
                        method: 'post',
                        data: fdata,
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        mimeType: 'multipart/form-data',
                        success: function (data) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Form submitted',
                                showCloseButton: true,
                            }).then((result) => {
                                if (result) {
                                    window.location.href = '/Resident/';
                                }
                            });

                        }
                    });
                } else if (result.isDenied) {
                    Swal.fire('The form not save', '', 'info')
                }
            })
        }


    });

</script>


